@model IEnumerable<Something.Models.People>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3 glass ">

    <div class="row">
        <div class="col">
            <h1>People</h1>
        </div>
        <div class="col text-end me-5">
            <a class="btn btn-success btn-rounded" asp-action="Create">
                Create New <i class="ms-2 fas fa-plus-circle"></i>
            </a>
        </div>
    </div>


    <div class="table-responsive glassForm overflow-auto " style="max-height:62vh;">
        <table class="table  table-borderless table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telephone)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider table-divider-color">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Company)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telephone)
                        </td>
                        <td>
                            <a class="btn btn-warning btn-floating me-2" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                            <a class="btn btn-danger btn-floating" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>